@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&#39');

:root{
    --branco:rgb(255, 255, 255);
    --amarelo_ouro:rgb(253, 200, 7);
    --pretointercalado:rgba(0, 0, 0, 0.199);
    --preto90:rgb(32, 34, 38);
    --preto100:rgb(0,0,0);
    --branco_sombra: rgba(216, 216, 216, 0.253);
    --amarelo_chama:rgb(255, 238, 0);
}


body{
    justify-content: center;
    background-color: var(--preto90);
    font-family:Montserrat,Arial, Helvetica, sans-serif;
    margin: 0px;
}

#banner{
    background-image:url(/imagens/header.png);
    height:700px;
    background-size: cover;
}

#conteudo1{
    color: var(--branco);
    width: 500px;
    margin-left: 250px;
}

#conteudo1 h1{
    font-size: 50px;
    font-weight: 800;
}

#conteudo1 p:nth-of-type(1){
    font-size: 20px;
    font-weight: 600;
}
#conteudo1 p:nth-of-type(2){
    font-size: 17px;
    font-weight: 400;
}
#caixa1{
    height: 50px;
    width: 320px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    font-size:20px;
}
#bt1:hover{
    background-color:var(--amarelo_chama);
    box-shadow: 8px 4px 100px var(--branco_sombra) ;
}

#bt1{
    box-shadow: 8px 8px 50px var(--preto100) ;
    background-color: var(--amarelo_ouro);
    color:var(--preto100);
    margin-top: 10px;
    height: 60px;
    width: 350px;
    text-align: center;
    align-content: center;
    border-radius:5px;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.7;

}

#icon1{
    
    height: 202px;
    width: 202px;
    margin-left: 25%;
}
#conttxt1{
   font-size: 15px;
   text-align: justify;
   line-height: 27px;
    margin-top: 20px;
    margin-left: 10px;
   width: 800px;
}
#meio1{
    color: var(--branco);
    display: flex;
    height: 300px;
    align-items: center;
    
}
#meio2{
    color: var(--branco);
    display: flex;
    height: 300px;
    align-items: center;
    background-color: var(--pretointercalado);
}
 #letra_des1{
    color: var(--amarelo_ouro);
 }

 #conttxt1 p{
    line-height: 20px;
    text-align: justify;
    font-size: 20px;
    }

    #autora{
     color: var(--branco);
     display: flex;
     height: 800px;
     align-items: center;
    }
    #txtautora{
        align-items: center;
        font-size: 20px;
        text-align: justify;
        line-height: 27px;
        padding-top: 50px;
         margin-left: 50px;
        width: 600px;
        height: 600px;
     }
     #icon_autora{
        background-image: url(/imagens/autora.png);
        height: 500px;
        width: 500px;
        margin-left: 22%;
        border-radius: 500px 500px 500px 500px;
    }
    #txtautora p{
        font-size: 25px;
        text-align: left;
        line-height: 27px;
         margin-top: 20px;
         margin-left: 50px;
        width: 500px;

    }
    #txtautora h1{
        margin-left: 50px;
    }
    #bt2:hover{
        background-color:var(--amarelo_chama);
        box-shadow: 8px 4px 100px var(--branco_sombra) ;
    }
    
    #bt2{
    
        background-color: var(--amarelo_ouro);
        color:var(--preto100);
        margin-top: 10px;
        height: 70px;
        width: 460px;
        text-align: center;
        align-content: center;
        border-radius:5px;
        font-weight: 700;
        box-shadow: 6px 6px 50px ;
    }
    #icon_cell{
        justify-content: center;
        width: 250px;
        height: 350px;
    }
    
    #txtcell{
        color: var(--branco);
        align-items: center;
        font-size: 25px;
        text-align: justify;
         margin-left: 25% !important;
        width: 600px;
        height: 800px;
        align-content: center;
    }
    #cell{
        display: flex;
    }
    #copy{
        margin-top: 50px;
        height: 100px;
        width: 100%;
        align-items: center;
        align-content: center;
        text-align: center;
        font-size: 25px;
        color: var(--branco);
    }

        
#conteudo11mobile{
    display: none;
}
    /*configuração Mobile e Tablet*/
    @media screen and (max-width:1024PX) {
        #banner{
        height: 250px;
        margin-bottom: 450px;
        }
        #conteudo1{
            margin-left: 1px;
            width: 250px;
        }  
        #conteudo1 h1{
            margin-left: 20px;
            padding-top: 23px;
            font-size: 25px;
            text-align: left;
        }

        #conteudo1 p{
            width: 350px;
            text-align: center;
        }
        #conteudo1 p:nth-of-type(2){
            text-align: left;
        }
        #conteudo11mobile{
            color: var(--branco);
            margin: 0px;
            background-color: var(--pretointercalado);
            align-items: center;
            height: 400px;
            justify-content: center;
            padding: 25px;
            align-content: center;
            display: flex!important;
            flex-direction: column;
        
            
        }
        #conteudo11mobile p:nth-of-type(1){
            font-size: 24px;
            font-weight: 500;
            text-align: center;
        }
        #conteudo11mobile p:nth-of-type(2){
            font-size: 15px;
            font-weight: 400;
        }
        #caixa1{
            height: 50px;
            width: 350px;
            border-radius: 10px 10px 10px 10px;
            text-align: center;
            font-size:20px;
    
        }
        #bt1:hover{
            background-color:var(--amarelo_chama);
            box-shadow: 8px 4px 100px var(--branco_sombra) ;
        }
        
        #bt1{
            box-shadow: 8px 8px 50px var(--preto100) ;
            background-color: var(--amarelo_ouro);
            color:var(--preto100);
            margin-top: 10px;
            height: 60px;
            width: 360px;
            text-align: center;
            align-content: center;
            border-radius:5px;
            font-weight: 700;
            font-size: 20px;
            transition: all 0.7;
        
        }
        
        #icon1 img{
           height: 140px;
           width: 130px;
           margin-bottom: -210px;
        }
            #meio1 , #meio2{
                
                height: auto;
                justify-content: center;
                flex-direction: column;
                display: flex;
        }
        #conttxt1{
            align-content: center;
            width: 350px;
            padding: 10px;
        }
        #conttxt1 h1{
            font-size: 24px;
            text-align: left;   
        }

       #conttxt1 p{
            font-size: 17px;
            text-align: justify;
        }
        

        #conteudo1 #sofrimento{
            display: none;
        }
        #icon_autora{
           border: solid red;
            height: 500px;
            width: 500px;
            margin-left: 22%;
            border-radius: 500px 500px 500px 500px;
        }
    }
    
    

     /*configuração extra pc*/
     @media screen  and(min-width:1025px){
   
    }
